.container, .content, .center-menu{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.container{
  width: 500px;
  height: 500px;
  background: #202020;
}

.content{
  width: 460px;
  height: 460px;
  overflow: hidden;
  background: #242424;
}

.center-menu{
  width: 240px;
  height: 240px;
  background: #202020;
  overflow: hidden;
  box-shadow: 0 0 5px #000;
}

.center-menu .section{
  position: relative;
  width: 100%;
  height: 120px;
}

.top{
  position: relative;
  text-align: center;
}

.top h3{
  bottom: 0;
  margin: 0;
  font-size: 60px;
  color: white;
  line-height: 180px;
  transition-duration: 0.3s;
}

.power{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 10px;
  border-radius: 10px;
  background: #d7d7d7;
}

.power:before, .power:after{
  position: absolute;
  color: white;
  top: -2px;
  font-size: 12px;
  font-family: sans-serif;
}

.power:before{
  content: "off";
  left: -20px;
}

.power:after{
  content: "on";
  right: -20px;
}

.power .state{
  position: absolute;
  width: 9px;
  height: 8px;
  border: 1px solid #d7d7d7;
  border-radius: 50%;
  background: #242424;
}

.off{
  left: 0;
}

.on{
  right: 0;
}

.color{
  opacity: 0.7;
  position: absolute;
  z-index: -1;
  width: 220px;
  height: 220px;
  background: #f50;
  transition-duration: 0.3s;
}

.color:active{
  opacity: 1;
}

.green{
  top: 0;
  left: 0;
  background: rgb(80, 255, 90);
}

.red{
  top: 0;
  right: 0;
  background: rgb(255, 80, 50);
}

.yellow{
  bottom: 0;
  left: 0;
  background: rgb(255,250, 90);
}

.blue{
  bottom: 0;
  right: 0;
  background: rgb(80, 90, 255);
}

.button{
  text-align: center;
}

.button:hover{
  cursor: pointer;
}

.active{
  opacity: 1;
}
